{% extends "base.twig" %}

{% block main %}
    <h1 id="title-section">Prestations</h1>
    <div class="content">
        {% for prestation in prestations %}
            <div class="div-content">
                <img src="{{ base_path() }}/../../shared/img/{{ prestation.img }}"
                     alt="{{ prestation.libelle | capitalize }}">
                
                <div class="card-attribute">
                    <span class="title">{{ prestation.libelle | capitalize }}</span>
                    <span id="tarif">{{ prestation.tarif }} <span
                                class="material-symbols-rounded euro">euro_symbol</span> </span>
                </div>
                
                <div class="bottom-content">
                    <form action="{{ url_for("PrestaAdd") }}" method='post'>
                        <button id="button">Ajouter</button>
                        <input type="hidden" name="id" value="{{ prestation.id }}">
                    </form>
                    <a href="{{ url_for('prestaDetails',{'id':prestation.id}) }}" id="button">Plus de détails</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

