{% extends "base.twig" %}

{% block main %}
    <h1 id="title-section">Prestations</h1>
    <div class="content">
        {% for categorie in categories %}
            <div class="div-content">
                <div class="image-content">
                    <img src="{{ base_path() }}/../../shared/img/{{ categorie.img }}"
                         alt="{{ categorie.libelle | capitalize }}">
                </div>
                
                <div class="main-content">
                    <span class="title">{{ categorie.libelle | capitalize }}</span>
                    <span class="desc">{{ categorie.description | capitalize }}</span>
                </div>
                
                <div class="card-attribute">
                    <span id="tarif">{{ categorie.tarif }} <span class="material-symbols-rounded euro">euro_symbol</span> </span>
                    <span>{{ categorie.unite }}</span>
                    <form action = "{{url_for("PrestaAdd")}}" method = 'post'  >
                    <button class="btn btn-primary">Ajouter</button>
                    <input type="hidden" name="id" value="{{ categorie.id }}">
                    </form>
                    <a href="{{ url_for('categ2prestas',{'id':categorie.id}) }}"></a>
                </div>
                <a href="{{ url_for('categ2prestas',{'id':categorie.id}) }}" id="moreDetails">Plus de détails</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

